<template>
    <div class = "map">
        <MglMap
            container="map-test"
            :center="markerCoordinates"
            :accessToken="accessToken"
            :mapStyle="mapStyle"
            style="height: 300px"
        >
            <MglMarker 
                v-for="pack in packs" :key="pack.id"
                :coordinates="[pack.lat, pack.lng]" color=#b00000>
            <MglPopup>
                <VCard>
                <div>{{pack.name}}</div>
                </VCard>
            </MglPopup>
            </MglMarker>
        </MglMap>
    </div>
</template>

<script>
    import { MglMap, MglMarker, MglPopup } from "vue-mapbox";
    import {VCard} from "vuetify"

    export default {
        name: 'Map',
        props: {
            packs: Array
        },

        components: {
             MglMap,
             MglMarker,
             MglPopup,
             VCard
        },

        data() {
            return {
                accessToken: 'pk.eyJ1IjoibmFkeW12YW5zY2hhaWsiLCJhIjoiY2tvOXpyYm5mMmw1cDJxbHl2N3hwMXYxYyJ9.TNFE7aQtcqNVzb3yCfjtlQ',
                mapStyle: 'mapbox://styles/mapbox/light-v10',
                markerCoordinates: [44, 54],
            }

        },
              
        methods: {            
            //Function for MapBox
            async fly() {
                const flyResult = await this.actions.flyTo({ center: [10, 10] });
                this.center = flyResult.center;
            },

        }
    }
</script>