<template>
  <section class="section">
    <div class="map">
      <h1 class="home-page-text">Keep Track Of Your Pack</h1>
      <p class="home-page-text">Click on marker to see a pack's name</p>
      <Map :packs="packs"> </Map>
    </div>
  </section>
</template>

<script>
import Map from "../components/Map.vue";

export default {
  
  components: {
    Map,
  },

  async asyncData({ $axios }) {
    const packs = await $axios.$get(`/packs`);
    return { packs };
  },
};
</script>
