<template>
  <section class="section">
    <div>
      <b-button
        class="addButton"
        type="is-light"
        icon-left="undo"
        @click="goBack()"
      >
        Back
      </b-button>
      <h1>Add pack</h1>
    </div>
    <form @submit="checkForm" id="edit-form">
      <b-field label="Name">
        <input
          class="input"
          type="text"
          id="name"
          name="name"
          placeholder="name"
        />
      </b-field>
      <b-field label="Lattitude">
        <input
          class="input"
          type="number"
          id="lat"
          name="lat"
          placeholder="0"
          min="-90"
          max="90"
        />
      </b-field>
      <b-field label="Longtitude">
        <input
          class="input"
          type="number"
          id="lng"
          name="lng"
          placeholder="0"
          min="-180"
          max="180"
        />
      </b-field>

      <input class="button" @click="checkForm" value="Send" />
    </form>
  </section>
</template>

<script>
import { NotificationProgrammatic as Notification } from "buefy";

var temp = Object.freeze({
  name: "",
  lat: "",
  lng: "",
});

export default {
  
  props: {
    type: {
      type: String,
      default: "",
    },
  },

  data() {
    return {
      pack: Object.assign({}, temp),
    };
  },

  methods: {
    
    /**
     * Checks whether the input from the user is correctly. 
     * If given input is correctly formatted, it will send the form.
     * Else, the user will be notified and the form will not be send
     */
    checkForm({ $axios }) {
      const editForm = document.getElementById("edit-form");
      const nameInput = editForm.querySelector("input[name= name]");
      const latInput = editForm.querySelector("input[name= lat]");
      const lngInput = editForm.querySelector("input[name= lng]");

      const name = nameInput.value;
      const lat = latInput.value;
      const lng = lngInput.value;

      if (name == "") {
        return Notification.open("Please enter a valid Name");
      } else if (lng == "" || lng > 180 || lng < -180) {
        return Notification.open(
          "Please enter a valid Longtitude (from -180 to 180)"
        );
      } else if (lat == "" || lat > 90 || lat < -90) {
        return Notification.open(
          "Please enter a valid Latitude (from -90 to 90)"
        );
      }

      var packObject = {
        name: name,
        lat: lat,
        lng: lng,
      };

      this.$axios.post(`/packs`, packObject).then(
        (response) => {
          this.$router.push({ path: `/pack-list` });
          Notification.open(
            "Pack " + packObject.name + " has successfully been added"
          );
        }).catch(
        (failureResponse) => {
          if (failureResponse.response.data.errors.name[0] != null) {
            return Notification.open("Creating pack failed with: " 
                + failureResponse.response.data.errors.name[0]);
          } else {
            return Notification.open(failureResponse.message);     
          }
        }
      );
    },

    /**
     * Go back to previous page
     */
    goBack() {
      window.history.back();
    },
  },
};
</script>
