<template>
  <section class="section">
    <div>
      <NuxtLink to="/pack-create">
        <b-button class="addButton" type="is-light" icon-left="plus"
          >Add Pack</b-button
        >
      </NuxtLink>
      <h1>List of packs</h1>
    </div>
    <div class="table-wrapper">
      <thead class="table thead">
        <th>ID</th>
        <th>Name</th>
        <th>Langtitude</th>
        <th>Longitude</th>
        <th></th>
        <th></th>
      </thead>
      <tbody class="table tbody">
        <tr v-for="pack in packs" :key="pack.id">
          <td class="tString">{{ pack.id }}</td>
          <td class="tString">{{ pack.name }}</td>
          <td class="tString">{{ pack.lat }}</td>
          <td class="tString">{{ pack.lng }}</td>
          <td class="tButton">
            <b-button
              type="is-light"
              icon-left="magnify"
              @click="detail(pack.id)"
            ></b-button>
            <b-button
              type="is-light"
              icon-left="pencil-outline"
              @click="edit(pack.id)"
            ></b-button>
            <b-button
              type="is-danger is-light"
              icon-left="delete-outline"
              @click="removeAlert(pack.id)"
            ></b-button>
          </td>
        </tr>
      </tbody>
    </div>
    <div class="map">
      <Map :packs="packs"> </Map>
    </div>
  </section>
</template>

<script>
import { NotificationProgrammatic as Notification } from "buefy";

export default {
  

  data() {
    return {
      isEmpty: false,
      isBordered: false,
      isStriped: true,
      isNarrowed: false,
      isHoverable: true,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: true,
    };
  },

  async asyncData({ $axios }) {
    const packs = await $axios.$get(`/packs`);
    return { packs };
  },

  methods: {
    /**
     *  Create an alert asking the user whether they are sure they want to remove the pack
     */
    removeAlert(id) {
      this.$buefy.dialog.confirm({
        title: "Deleting pack",
        message:
          "Are you sure you want to <b>delete</b> this pack? This action cannot be undone.",
        confirmText: "Delete Pack",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.remove(id),
      });
    },
    
    /**
     *  Removes the wolf from the pack
     */
    remove(id) {
      this.$axios.$delete(`/packs/${id}`).then((response) => {
        this.$router.go();
        Notification.open("Pack has been deleted");
      });
    },

    /**
     * Redirects the user to edit pack page where they can edit the pack
     */
    edit(packId) {
      this.$router.push({ path: `/packs/${packId}/edit` });
    },

    /**
     * Redirects the user to pack detail page where they can find more details about the pack
     */
    detail(packId) {
      this.$router.push({ path: `/packs/${packId}/detail` });
    },
  },
};
</script>