<template>
  <section class="section">
    <div>
      <NuxtLink to="/wolf-create">
        <b-button class="addButton" type="is-light" icon-left="plus"
          >Add Wolf</b-button
        >
      </NuxtLink>
      <h1>List of Wolves</h1>
    </div>
    <div class="table-wrapper">
      <thead class="table thead">
        <th>ID</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th></th>
        <th></th>
      </thead>
      <tbody class="table tbody">
        <tr v-for="wolf in wolves" :key="wolf.id">
          <td class="tString">{{ wolf.id }}</td>
          <td class="tString">{{ wolf.name }}</td>
          <td class="tString">{{ wolf.birthday }}</td>
          <td class="tString">{{ wolf.gender }}</td>
          <td class="tButton">
            <b-button
              type="is-light"
              icon-left="pencil-outline"
              @click="edit(wolf.id)"
            ></b-button>
            <b-button
              type="is-danger is-light"
              icon-left="delete-outline"
              @click="removeAlert(wolf.id)"
            >
            </b-button>
          </td>
        </tr>
      </tbody>
    </div>
  </section>
</template>

<script>
import { NotificationProgrammatic as Notification } from "buefy";

export default {
  

  data() {},

  async asyncData({ $axios }) {
    const wolves = await $axios.$get(`/wolves`);
    return { wolves };
  },

  methods: {

    /**
     *  Create an alert asking the user whether they are sure they want to remove the pack
     */
    removeAlert(id) {
      this.$buefy.dialog.confirm({
        title: "Deleting Wolf",
        message:
          "Are you sure you want to <b>delete</b> this wolf? This action cannot be undone.",
        confirmText: "Delete Wolf",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.remove(id),
      });
    },
    
    /**
     *  Removes the wolf from the pack
     */
    remove(id) {
      this.$axios.$delete(`/wolves/${id}`).then((response) => {
        this.$router.go();
        Notification.open("Wolf has been deleted");
      });
    },

    /**
     * Redirects the user to edit pack page where they can edit the pack
     */
    edit(wolfId) {
      this.$router.push({ path: `/wolf/${wolfId}/edit` });
    },
  },
};
</script>