<template>
  <section class="section">
    <h1>Add wolf to pack {{ pack.name }}</h1>
    <form id="add-wolf-form">
      <b-field>
        <select class="select input" type="text" id="wolf" name="wolf">
          <option v-for="wolf in wolves" :value="wolf.id" :key="wolf.id">
            {{ wolf.name }}
          </option>
        </select>
      </b-field>
      <b-button class="button" @click="addWolf">Add Wolf </b-button>
    </form>
  </section>
</template>

<script>
import { NotificationProgrammatic as Notification } from "buefy";

export default {
  
  data() {},

  async asyncData({ params, $axios }) {
    const wolves = await $axios.$get(`/wolves`);
    const pack = await $axios.$get(`/packs/${params.id}`);

    /**
     * for loop to remove any wolves that are already in the pack from the the list of available wolves
     */
    var i;
    var j;

    for (i = 0; i < wolves.length; i++) {
      for (j = 0; j < pack.wolves.length; j++) {
        if (wolves[i].id == pack.wolves[j].id) {
          wolves.splice(i, 1);
        }
      }
    }

    return {
      wolves,
      pack,
    };
  },

  methods: {
    
    /**
     * Add a wolf to the pack
     */
    async addWolf() {
      const addWolfForm = document.getElementById("add-wolf-form");
      const wolfInput = addWolfForm.querySelector("select[name=wolf]");

      const id = wolfInput.value;

      this.$axios
        .$post(`/packs/${this.$route.params.id}/wolf/${id}`)
        .then((response) => {
          this.$router.push({ path: `/packs/${this.$route.params.id}/detail` });
          Notification.open("Wolf has been added to pack");
        }).catch(
        (failureResponse) => {
          if (failureResponse.response.data.errors.name[0] != null) {
            return Notification.open("Adding wolf to the Pack failed with: " 
                + failureResponse.response.data.errors.name[0]);
          } else {
            return Notification.open(failureResponse.message);     
          }
        }
      );
    },
  },
};
</script>