<template>
  <section class="section">
    <div>
      <b-button
        class="addButton"
        type="is-light"
        icon-left="plus"
        @click="addWolf"
        >Add Wolf</b-button
      >
      <h1>Pack {{ pack.name }}</h1>
    </div>
    <div class="table-wrapper">
      <thead class="table thead">
        <th>ID</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th></th>
        <th></th>
      </thead>
      <tbody class="table tbody">
        <tr v-for="wolf in wolves" :key="wolf.id">
          <td class="tString">{{ wolf.id }}</td>
          <td class="tString">{{ wolf.name }}</td>
          <td class="tString">{{ wolf.birthday }}</td>
          <td class="tString">{{ wolf.gender }}</td>
          <td class="tButton">
            <b-button
              type="is-danger is-light"
              icon-left="delete-outline"
              @click="removeAlert(wolf.id)"
            >
            </b-button>
          </td>
        </tr>
      </tbody>
      <Map :packs="[pack]"> </Map>
    </div>
  </section>
</template>

<script>
import { NotificationProgrammatic as Notification } from "buefy";

export default {
  
  data() {},

  async asyncData({ params, $axios }) {
    const pack = await $axios.$get(`/packs/${params.id}`);

    return {
      pack,
      wolves: pack.wolves,
    };
  },

  methods: {
    /**
     *  Create an alert asking the user whether they are sure they want to remove the wolf from the pack
     */
    removeAlert(wolfId) {
      this.$buefy.dialog.confirm({
        title: "Removing Wolf",
        message:
          "Are you sure you want to <b>remove</b> this wolf from the pack? This action cannot be undone.",
        confirmText: "Remove Wolf",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.remove(wolfId),
      });
    },

    /**
     *  Removes the wolf from the pack
     */
    remove(wolfId) {
      this.$axios
        .$delete(`/packs/${this.$route.params.id}/wolf/${wolfId}`)
        .then((response) => {
          this.$router.go();
          Notification.open("Wolf has been removed from pack {{pack.name}}");
        }).catch(
        (failureResponse) => {
          if (failureResponse.response.data.errors.name[0] != null) {
            return Notification.open("Removing wolf from Pack failed with: " 
                + failureResponse.response.data.errors.name[0]);
          } else {
            return Notification.open(failureResponse.message);     
          }
        }
      );
    },

    /**
     * Redirects the user to add-wolf page where they can add a wolf to the pack
     */
    addWolf() {
      this.$router.push({ path: `/packs/${this.$route.params.id}/add-wolf` });
    },
  },
};
</script>